Zad 1

In [ ]:
from scipy.stats import norm
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp
import pandas as pd
import numpy as np

stdDiv = norm.rvs(loc=2, scale=30, size=200)
stat,p = ttest_1samp(stdDiv,2.5)
print(f"Stat= {stat} p={p}")

Stat= 0.15620296293555744 p=0.8760313876653902

Zad 2

In [ ]:


df = pd.read_csv("/napoje.csv",sep=";")
df.head()

   mies   rok   pepsi  fanta   żywiec  okocim  regionalne    cola   lech
0     1  2001  108447   43302  186385   54301       45065  227013  56306
1     2  2001  105439   46711  168782   68131       43933  221115  67212
2     3  2001  111675   36029  172186   63104       46663  222812  67398
3     4  2001  113232   33659  172445   50871       45195  238631  57100
4     5  2001  110274   40853  174526   67924       47926  222963  65001

In [ ]:
lech = df.groupby("rok")["lech"].mean()
print("Lech\n\n",lech)
print(f"Średnia: {np.mean(lech)}\n")

cola = df.groupby("rok")["cola"].mean()
print("Cola\n\n",cola)
print(f"Średnia: {np.mean(cola)}\n")

regionalne = df.groupby("rok")["regionalne"].mean()
print("regionalne\n\n",regionalne)
print(f"Średnia: {np.mean(regionalne)}")

Lech

 rok
2001    62204.916667
2002    61290.166667
2003    60884.916667
2004    59732.000000
2005    61050.666667
2006    62740.333333
2007    62575.416667
2008    61919.583333
2009    60582.166667
2010    63246.583333
2011    60309.416667
2012    59274.416667
2013    60107.166667
2014    60989.083333
2015    60195.250000
2016    60359.500000
Name: lech, dtype: float64
Średnia: 61091.34895833333

Cola

 rok
2001    230235.666667
2002    223288.583333
2003    223764.333333
2004    220209.416667
2005    226954.250000
2006    229088.666667
2007    231207.583333
2008    227740.833333
2009    226287.250000
2010    223693.583333
2011    223232.166667
2012    226969.833333
2013    226616.833333
2014    227253.666667
2015    228803.250000
2016    226885.583333
Name: cola, dtype: float64
Średnia: 226389.46875

regionalne

 rok
2001    45771.916667
2002    45211.000000
2003    46315.500000
2004    45965.000000
2005    48088.500000
2006    46727.666667
2007    48403.916667
2008    48369.166667
2009    47392.916667
2010    49474.083333
2011    49202.916667
2012    48760.333333
2013    51183.166667
2014    51957.416667
2015    52871.666667
2016    52993.416667
Name: regionalne, dtype: float64
Średnia: 48668.03645833333

Zad 3

In [ ]:
from scipy.stats import shapiro

isNormal = []
for drink in df.keys():
  data = df[drink]
  stat,p = shapiro(data)
  print(f"{drink}: stat={stat},p={p}")

mies: stat=0.9405028820037842,p=4.075907327205641e-07
rok: stat=0.9462488889694214,p=1.3103949640935753e-06
pepsi: stat=0.991237223148346,p=0.29676657915115356
fanta : stat=0.9894832372665405,p=0.17038102447986603
żywiec: stat=0.9913594126701355,p=0.3080180585384369
okocim: stat=0.9875108599662781,p=0.08893532305955887
regionalne: stat=0.9365047812461853,p=1.8769890175462933e-07
cola: stat=0.9935650825500488,p=0.5695559978485107
lech: stat=0.9936925768852234,p=0.5875298380851746

Zad 4

In [ ]:
stat1, p1=ttest_ind(df['okocim'],df['lech']) #lech - okocim
stat2, p2=ttest_ind(df['fanta '],df['regionalne']) #fanta - regionalne
stat3, p3=ttest_ind(df['cola'],df['pepsi']) #cola - pepsi

print(f"lech - okocim: stat={stat1} p={p1}")
print(f"fanta - regionalne: stat={stat2} p={p2}")
print(f"cola - pepsi: stat={stat3} p={p3}")

lech - okocim: stat=-0.8323919685480173 p=0.4057078093583595
fanta - regionalne: stat=-11.013919429372727 p=1.097001288015355e-24
cola - pepsi: stat=145.61815604546564 p=0.0

Zad 5

In [ ]:
from scipy.stats import levene
stat1, p1=levene(df['okocim'],df['lech']) #okocim – lech
stat2, p2=levene(df['żywiec'],df['fanta ']) #żywiec – fanta
stat3, p3=levene(df['regionalne'],df['cola']) #regionalne – cola

print(f"okocim - lech: stat={stat1} p={p1}")
print(f"żywiec - fanta: stat={stat2} p={p2}")
print(f"regionalne - cola: stat={stat3} p={p3}")

okocim - lech: stat=1.191182232831977 p=0.2757791126546958
żywiec - fanta: stat=1.4760992846958803 p=0.2251362462983421
regionalne - cola: stat=83.85984593010029 p=3.275749775904902e-18

Zad 6

In [ ]:

tmp = df[["rok","regionalne"]]
regio2001=tmp.loc[tmp["rok"]==2001]
regio2015=tmp.loc[tmp["rok"]==2015]
stat,p = ttest_ind(regio2001['regionalne'],regio2015['regionalne'])
print(stat,p)

-3.597778058271827 0.0016000242362201897

Zad 7

In [ ]:
df1 = df.loc[df['rok']==2016]
print(df1.head(12),'\n')
df2 = pd.read_csv("/napoje_po_reklamie.csv",sep=";")
print(df2.head(12),'\n')

df1 = df1[['cola','fanta ','pepsi']]
df2 = df2[['cola','fanta ','pepsi']]


  
print(df1)
print(df2)
stat,p = ttest_ind(df1,df2)
print(f"stat:{stat} p:{p}")

     mies   rok   pepsi  fanta   żywiec  okocim  regionalne    cola   lech
180     1  2016  102040   39116  181501   60207       52287  228359  51376
181     2  2016  109322   38667  182152   58008       44836  231114  62084
182     3  2016  108039   48108  179221   54359       48474  199815  53312
183     4  2016  113002   41721  179037   64655       49260  221944  66103
184     5  2016  109590   48840  177932   61260       54271  219085  61867
185     6  2016  105666   41023  175298   63966       60592  235575  56194
186     7  2016  111811   39667  170174   67012       54146  223126  61038
187     8  2016  105949   43017  169329   64262       58101  222531  58037
188     9  2016  103420   44310  173923   67591       44565  230270  65156
189    10  2016  120363   50688  175856   63791       51376  247155  59276
190    11  2016  101215   41924  175914   62570       59505  240524  61765
191    12  2016  114300   42314  178209   65923       58508  223129  68106

    mies   pepsi  fanta   żywiec  okocim  regionalne    cola   lech
0      1  119110   41386  186272   64398       55561  215468  68673
1      2  107424   45669  178564   61847       48793  233941  68483
2      3  105748   47373  183368   53390       63907  229677  63300
3      4  115377   39395  184326   60062       58531  234246  61943
4      5  103003   42477  182190   63736       51395  219392  64189
5      6  102809   47224  183115   52596       55149  219600  63343
6      7  106890   45185  184858   54457       52977  225857  63466
7      8  103613   38748  185559   61437       61143  226311  68841
8      9  112709   34145  186496   62945       59051  232491  65195
9     10  112780   37407  182187   67979       60212  235802  57058
10    11  113206   51504  191763   61462       55311  221554  54589
11    12  107777   41005  183566   62182       64720  223153  56674

       cola  fanta    pepsi
180  228359   39116  102040
181  231114   38667  109322
182  199815   48108  108039
183  221944   41721  113002
184  219085   48840  109590
185  235575   41023  105666
186  223126   39667  111811
187  222531   43017  105949
188  230270   44310  103420
189  247155   50688  120363
190  240524   41924  101215
191  223129   42314  114300
      cola  fanta    pepsi
0   215468   41386  119110
1   233941   45669  107424
2   229677   47373  105748
3   234246   39395  115377
4   219392   42477  103003
5   219600   47224  102809
6   225857   45185  106890
7   226311   38748  103613
8   232491   34145  112709
9   235802   37407  112780
10  221554   51504  113206
11  223153   41005  107777
stat:[ 0.10798149  0.3598065  -0.21470683] p:[0.91498914 0.72242279 0.83197366]